.signin
  .log-in
    .log-in__header
      .log-in__header__field
        アカウントをお持ちでない方
      = link_to new_user_registration_path, class: "login-in" do
        新規会員登録
      .log-in__header__field__form
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .log-in__header__field__form__content
            = f.label :email, "メールアドレス"
            = f.email_field :email, class: "log-in__header__field__form__content--1"
          .log-in__header__field__form__content
            = f.label :password, "パスワード"
            = f.password_field :password, class: "log-in__header__field__form__content--1"
          .log-in__header__field__form__content
            = f.submit "ログイン", class: "log-in__form__in"

